# Ignore everything
/*

# Except for the following
!.gitignore
!X11/
!alacritty/
!bpytop/
!lsd/
!neofetch/
!paru/
!picom/
!rofi/
!sxhkd/
!starship.toml

# It is not possible to re-include a file if a parent 
# directory of that file is excluded, therefore:
# Do not ignore qutebrowser directory
!qutebrowser/
# Ignore files and sub dirs in the /qutebrowser directory
/qutebrowser/*
# But do not ignore the config files
!/qutebrowser/config.py
!/qutebrowser/autoconfig.yml
